.truncated-topic {
    display: inline-block;
    // max-width: 200px; /* Adjust based on your layout */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    position: relative;
  }
  
  .truncated-topic:hover .full-topic {
    display: block;
  }
  
  .full-topic {
    display: none;
    position: relative; /* Change to relative */
    background-color: white;
    // border: 1px solid #ccc;
    padding: 5px;
    z-index: 1000;
    max-width: 400px; /* Adjust as needed */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    white-space: normal; /* Ensure full text wraps */
  }
  